.container {
  display: grid;
  margin-top: 25px;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 40px;
  grid-auto-flow: column;
  /* background-color: #f1f3ff; */
}

/* .logo {
  display: flex;
  justify-content: start;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.nav {
  display: grid;
  grid-auto-flow: column;
}
